/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('quicksand-v24-latin-regular.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* quicksand-500 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('quicksand-v24-latin-500.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* quicksand-700 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('quicksand-v24-latin-700.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}


lightColors()
    --color-theme #ff6d26
    --color-theme-2 rgba(#ff6d26, .5)
    --color-primary white
    --color-secondary #eee
    --color-tertiary #dfdfdf
    --color-text black
    .resume-preview .absolute
        border none
        &::after
            opacity 0
    p
        font-weight 400
darkColors()
    --color-theme #e11cb0
    --color-theme-2 rgba(#e11cb0, .5)
    --color-primary #261b2d
    --color-secondary #131c27
    --color-tertiary #121a24
    --color-text rgba(255,255,255,0.8)
    .resume-preview .absolute
        // box-shadow 0 0 10px -2px var(--color-theme) !important
        border 4px solid var(--color-theme-2)
        &::after
            opacity .8
    p
        font-weight 500
.colors
    lightColors()
    color var(--color-text)
    scrollbar-color var(--color-theme) transparent
    scrollbar-width thin

    animation backgroundFrom 1s 1s backwards
    background-color var(--color-tertiary)

@keyframes lightSwitch
    from
        transform rotate(90deg) translateY(-10px)
        height 300px


#themeToggle
    position absolute
    width 0
    height 0
    opacity 0
    z-index 100
    & + label
        position absolute
        top -200px
        left 5vw
        width 40px
        height 265px
        z-index 100
        text-align center
        color grey
        transition transform .3s cubic-bezier(0, 2, 1, 1)
        cursor pointer
        animation lightSwitch .9s 1.2s backwards cubic-bezier(.5, 1.6, 0.46, 0.83)
        svg
            position absolute
            bottom 0
            left 0
            right 0
            color inherit
            transition transform .7s cubic-bezier(0, 1.4, 1, 1)
        &::before
            content ""
            position absolute
            bottom 40px
            margin-left -1.5px
            width 3px
            height 100px
            border-radius 100px
            color inherit
            border-left 3px dashed currentColor
        &:hover, ^[0]:focus-visible + label
            transform translateY(10px) !important
        &:active, ^[0]:focus-visible + label
            transition transform .4s cubic-bezier(0, 1.56, 1, 1)
            transform translateY(25px) !important
            filter brightness(2)
            svg
                transform rotate(1turn)
                transition transform .1s
            & ~ .colors
                filter brightness(.8)
                transition filter .2s, transform .4s cubic-bezier(0, 2, 1, 1) !important
    &:checked + label
        color orange
    &:checked ~ .colors
        darkColors()

@media (prefers-color-scheme: dark)
    .colors 
        darkColors()
    #themeToggle:checked ~ .colors
        lightColors()


html
    overflow-x hidden
    scroll-snap-type mandatory
    scroll-snap-points-y repeat(100vh)
    scroll-snap-type y mandatory
body
    margin 0
    overflow-x clip
    font-family "Quicksand", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
    font-display swap
    background-color #333
    // perspective 1px

div, img
    box-sizing border-box

*, *::before, &::after
    transition background .1s, border .2s

.chip, .button, .thumbnail
    transition all .4s, transform .2s

&:focus, 
.card:focus-within .thumbnail, 
a.chip:hover, .button:hover
    box-shadow 0 0 16px 2px var(--color-theme)
    outline 1px solid var(--color-theme)
    outline-offset 4px
    transition all .4s, transform .2s
    &:focus
        transition all .4s, transform .2s

h1, h2, h3, h4, h5, h6, p
    margin .4em 0
    color var(--color-text)
    transition color .1s
p, li
    line-height 1.8
    transition transform .2s

::selection
    background-color var(--color-theme-2)
a
    color var(--color-theme)
    text-underline-offset .3em
    transition text-underline-offset .1s
    &:hover
        text-underline-offset .5em
    &::selection
        background-color unset
    svg
        height 1em
        width @height
h1
    font-size 1.8em
h2
    font-size 1.4em
    small
        font-size .5em
section
    width 100%

img
    max-width 100%
    max-height 100%
    border-radius 12px
    object-fit cover

// Buttons
.button
    padding .4em .8em
    background-color var(--color-theme)
    border-radius 6px
    text-decoration none
    color white
    text-align center
    transition background .2s, color .2s, border-radius .2s, transform .2s
    &.outlined
        background none
        border 1px solid var(--color-theme)
        color inherit
    &.transparent
        border none
        background none
        // padding 0
        color inherit
        outline none !important
    &.underline
        padding 0
        border none
        color inherit !important
        outline none
        background none
        box-shadow none
        position relative
        &::before
            content ""
            position absolute
            bottom -.7em
            right calc(100% + .5em)
            left -.5em
            height .2em
            // width 0
            background-color var(--color-theme)
            border-radius 100px
            transition right .2s, left .4s, bottom .4s, background .2s

        &:hover, &:focus
            transform translate(4px, -2px)
            &::before
                right 10px
                left 10px
                // bottom -.3em
    &:hover
        transform translateY(-2px)
    h1 
        margin 0
    &:active
        transform scale(.95) !important

// Elements
.chip
    position relative
    padding 0.6em 1.4em
    border-radius 12px
    background-color var(--color-theme)
    color white
    text-decoration none
    font-weight bold
    font-size inherit
    transition transform .2s cubic-bezier(0,0.2,0,1), background .2s
    &:hover, &:focus
        transform translateY(-7%)
    &:active
        transform scale(.95) !important
    &.icon
        padding 0.7em
        width 1em
        height 1em
        img
            position absolute
            inset 0
            margin auto
            padding .4em
            transition transform .4s cubic-bezier(0,0,0,2)
        &:hover
            img
                transform scale(1.05) translateY(-15%)
                filter drop-shadow(0 4px 8px rgba(0,0,0,0.1))
        &:active, &:focus
            img
                transform scale(1) translateY(-10%)
    &.small
        font-size .9em
    &.outlined
        background none
        border 1px solid var(--color-theme)
    &.transparent
        background none
        border 0

.card
    flex 1 1 40em
    // max-width 60em
    margin-bottom 1em
    position relative
    .blurred
        position absolute
        inset 10px
        bottom unset
        padding-top 56.25%
        max-height 100%
        z-index -1
        filter blur(10px)
        transform translateY(4px)
        opacity .2
        transition opacity .2s
        img 
            position absolute
            inset 0
            width 100%
            border-radius 24px
    .thumbnail
        position relative
        border-radius 24px
        overflow hidden
        color white
        padding-top: 56.25%;
        max-height 100%
        background-color var(--color-secondary)
        transition transform .4s cubic-bezier(0,0,0,2)
        a
            color white
            text-decoration none
                
        img
            position absolute
            inset 0
            transition filter .2s
            width 100%
        h2
            position absolute
            inset 0
            top unset
            padding 1em
            padding-top 2em
            z-index 2
            box-sizing border-box
            background linear-gradient(to top, rgba(0,0,0,0.8), transparent)
            color white
            transition padding .4s
        p
            padding 2em
            position absolute
            inset 0
            top -1em
            bottom -3em
            text-align center
            display flex
            align-items center
            justify-content center
            padding-bottom 2em
            box-sizing border-box
            z-index 3
            background-color rgba(0,0,0,0.5)
            color white
            opacity 0
            transition opacity .2s, bottom .4s, background .2s
        &:hover, &:focus-within
            transform translateY(-4px)
            transition transform .2s
            // box-shadow 0 8px 12px rgba(0,0,0,0.2)
            @media (pointer: fine)
                a 
                    transform translateY(-4px)
                    // box-shadow 0 4px 8px rgba(0,0,0,0.2)
                    img
                        filter blur(10px)
                    p
                        opacity 1
                        bottom -1em
                    h2
                        padding-bottom calc(1em + 4px)
                & ~ .blurred
                    opacity .4
                    bottom unset
        &:active
            transform scale(.98)
            transition transform .4s cubic-bezier(0,0,0,2)

    .details
        padding .6em .8em
        display flex
        flex-grow wrap
        justify-content space-between
        // padding-top 0
    h2
        margin-bottom 0
    // p
    //     font-size 1em
    //     margin-bottom .2em
    //     margin-top 0
    //     opacity .5
    //     font-weight 500
    &.small
        flex unset
        margin-bottom 0
        &:first-child a
            padding-left 0
            margin-left 0 !important

        a
            text-decoration none
            display block
            width 10em
            border-radius 12px
            // margin -.7em 0
            padding .7em 1em
            font-weight 500
            transition background .2s, padding .4s, margin .4s
            img
                box-shadow 0 4px 8px rgba(0,0,0,0.1)
                transition transform .2s
                max-width 90%
                width 100%
                aspect-ratio 1
            span
                white-space nowrap
            &:hover, &:focus
                padding .7em 1.4em
                // margin 0 .4em
                background-color var(--color-secondary)
                img 
                    transition transform .4s
                    transform translateY(-4px) 
            &:active
                img
                    transform scale(.95)
                    transition transform .2s
                
// Touch
@media (pointer: coarse) 
    .card
        .thumbnail
            h2, p
                color var(--color-text) !important
                background none !important
                padding 0
                padding-inline 1em
                margin 0
                text-align center
            p
                position static
                // margin-top -1em
                box-sizing border-box
                opacity 1
                padding-bottom 1em
            h2
                position static
                padding-top .7em
                padding-bottom .2em





// Layout
.grayscale
    filter grayscale(1) contrast(1)
.opaque
    opacity .2
.header-group
    display flex
    justify-content space-between
    flex-wrap wrap
    align-items center

.split
    display flex
    flex-wrap wrap
    width 90em
    max-width 100%
    align-items center

.visiblity-hidden
    position absolute
    opacity 0
    pointer-events none
.absolute
    position absolute
    inset 0
.full-width
    max-width unset
    width 100%
.separator
    border-top 1px solid
    border-color white
    &.vertical
        border-top unset
        margin 0
        height 70vh
        border-radius 100px
        border 5px solid var(--color-theme)
        margin 0 -2.5px
        box-sizing content-box

.centered
    margin auto
    justify-content center

.list
    display flex
    flex-wrap wrap
    align-items center
    gap 0 2em
    &.small
        gap .5em 1em
    h1, h2, h3, h4, h5, h6
        width 100%
        margin-top 0


.scroller
    border-radius 12px
    margin -10px
    padding 10px
    transition scrollbar-color .2s
    &:not(:hover)
        scrollbar-color transparent transparent
    &.x
        display flex
        flex-wrap nowrap
        justify-content flex-start
        overflow auto hidden
        margin-left -10px
        margin-bottom 1em
        // padding-left 4em
        &::after, &::before
            content ""
            display block
            min-width 300px
            max-width 20vw
            box-shadow 10px 0px 0px 0px var(--color-primary)
            min-height 100%
            position sticky
            right 0
            pointer-events none
            background linear-gradient(to right, transparent, var(--color-primary))
            transition min-width .2s
        &::before
            right unset
            left -10px
            min-width 10px
            margin-left -10px
            background linear-gradient(to right, transparent, var(--color-primary))
            transform rotate(180deg)
            z-index 2
        &:hover:after
            min-width 10px
    
    &_separator
        position relative
        display flex
        flex-direction column
        align-items center
        justify-content center
        margin 18px
        div
            position relative
            background-color var(--color-primary)
            text-align center
            z-index 2
            margin-bottom 30px
        hr
            position absolute
            height 70%
            margin auto
            // color var(--color-secondary)
            color currentColor
            opacity .1
        span
            background-color var(--color-secondary)
            padding .3em .7em
            border-radius 100px
            text-align center


@media (prefers-reduced-motion) {
    *, ::before, ::after {
        transition filter .2s, background .4s, color .4s, opacity .4s, outline .2s, box-shadow .2s !important
        scroll-behavior unset !important
        animation-duration 0s !important
        animation-delay 0s !important
    }
}
// @media (prefers-reduced-motion: no-preference) {
    @keyframes slidePageLeft {
        from { transform: translateX(100%) rotate(4deg) }
    }
    @keyframes slidePageRight {
        from { transform: translateX(-100%) }
    }
    @keyframes slideUpIn {
        from { transform: translateY(10vh);  }
    }
    @keyframes slideLeftIn {
        from { transform: translateX(10vh); }
    }
    @keyframes heightIn {
        from { height: 0px; border-width: 1px; }
    }
    @keyframes widthIn {
        from { top: 30vh; bottom: 30vh; width: 0; border-radius: 100vh; }
    }
    @keyframes underline {
        to   { width: calc(100% - 20px); }
    }
    @keyframes flexIn {
        from { flex-grow: 1; }
    }
    @keyframes backgroundFrom {
        from { background-color: transparent; }
    }
    @keyframes slideTo {
        to { transform: none; filter: none }
    }
    @keyframes spin {
        from { transform: rotate(10deg); }
        to { transform: rotate(20deg) translateY(10px); }
    }
// }


.main
    scroll-snap-align start 
    & > .separator
        animation heightIn 1s .2s both cubic-bezier(1, 0, 0, 1)
        position relative
        display flex
        align-items center
        justify-content center
        border 0
        div
            position relative
            z-index 3
            border 5px solid var(--color-theme)
            background-color var(--color-theme)
            max-width 0px
            border-radius 100px
            height 70vh
            box-sizing content-box
            margin-left -5px
            animation heightIn 1s .2s both cubic-bezier(1, 0, 0, 1)
        &::before, &::after
            content ""
            position absolute
            right 0
            background-color var(--color-secondary)
            animation widthIn 1.2s .5s both cubic-bezier(.5, 0, 0, 1)

            width: calc(50vw + 110px); 
            top: -15vh; 
            bottom: -15vh; 
            border-radius: 2vh;
            z-index 1

            transition background .1s !important
        &::before
            border-bottom-left-radius 100vh !important
            border-top-right-radius 0 !important
            border-bottom-right-radius 0 !important
        &::after
            left 0
            right unset
            background-color var(--color-primary)
            border-top-left-radius 0 !important
            border-bottom-left-radius 0 !important

    & > .column
        height 100vh
        // width max-content
        // width 40em
        flex 1 1 30em
        max-width 100%
        box-sizing border-box
        overflow hidden
        position relative
        display flex
        z-index 2
        transition scrollbar-color .2s
        &:not(:hover):not(:focus-within)
            scrollbar-color transparent transparent !important

        .content
            width 0
            flex-grow 1
            padding 4rem
            height max-content
            animation slidePageLeft 1s .7s both cubic-bezier(0, .5, 0, 1)


        &:first-child
            text-align center
            // color white
            perspective 20px
            position sticky
            top 0
            .content
                height 100%
                display flex
                flex-direction column
                padding-bottom 0
                font-size 1.1em
                font-size clamp(1em, 1.2vw, 1.1em)
                // transform rotate(-1deg)
            h1, p
                margin 0
            .about
                flex-grow 1
                display flex
                flex-direction column
                justify-content flex-end
                align-items center
                max-width 25em
                margin auto
                gap 1em
                // transform rotate(1deg)
                filter drop-shadow(0px 4px 2px rgba(0,0,0,0.2))
                p
                    font-weight 600 !important
                h1
                    color var(--color-theme)
                    &::selection
                        background-color unset
            .resume
                flex-grow 5
                min-height 300px
                margin-top 2em
                display flex
                flex-direction column
                transform rotate(-.5deg) translateX(.5%)
                animation slideUpIn 1.7s .7s backwards
                
                .resume-preview
                    // overflow hidden
                    
                    margin-inline -2.5rem
                    margin-top .7em
                    position relative
                    flex-grow 1
                    // min-height 600px
                    // transform rotateY(.1deg)
                    .absolute
                        bottom unset
                        height 800px
                        border-radius 24px 24px
                        box-shadow 0 0 24px rgba(0,0,0,0.1)
                        // border 3px solid var(--color-theme)
                        overflow hidden
                        &::after
                            content ""
                            position absolute
                            inset 0
                            transition opacity .2s
                            background-image linear-gradient(to bottom, transparent, #1a202c, #1a202c)
                        embed
                            display block
                            width calc(100% + 24px)
                            margin-inline -8px
                            position relative
                            z-index 2
                        // &::before
                        //     content ""
                        //     position absolute
                        //     inset 0
                        //     z-index 2
                        //     background-image linear-gradient(to bottom, transparent, transparent, var(--color-secondary))

            h1
                font-size 3em
            p
                font-weight 700

        &:last-child
            animation flexIn 2s .7s both,
                        backgroundFrom 1s 1.7s backwards
            flex-grow 2.5
            flex-grow 4
            overflow-y auto
            scroll-behavior smooth
            background-color var(--color-primary)
            // border-radius 24px 24px 0 0
            // max-width calc(100% - 10px)
            scroll-snap-align start
            transition background-color .1s, scrollbar-color .2s
            .content
                animation-name slidePageRight
                padding-block 10vh !important
                // font-size clamp(.9em, 1.2vw, 1.1em)

                > [id]:target
                    & ~ nav
                        h1
                            font-weight 400
                    & ~ section
                        display none

                &::before
                    content ""
                    display block
                    height 3em
                    margin-top -1em
                    margin-bottom -2em
                    margin-inline -1em
                    position sticky
                    top 1em
                    z-index 4
                    box-shadow 0 24px 24px -20px rgba(0,0,0,0.5)
                    // animation slidePageRight 1s 2.4s backwards
                    // transform translateY(calc(-15vh - 4em))
                    filter opacity(0)
                    animation slideTo 1s 1s forwards
                & > nav
                    display flex
                    flex-wrap wrap
                    gap 2em
                    margin-bottom 1em
                    position sticky
                    top 0
                    z-index 5
                    padding-top 2em
                    padding-bottom .7em
                    margin-inline -900px
                    padding-inline 900px
                    backdrop-filter blur(10px)
                    font-size .85em
                    // transform translateY(calc(-15vh - 4em))
                    filter opacity(0)
                    animation slideTo 1s 1s forwards
                    h1
                        font-weight 400
                    [href="#"] h1
                        font-weight bold

                    &::before
                        content ""
                        position absolute
                        inset 0
                        background-color var(--color-primary)
                        opacity .95
                        z-index -1
                        border-radius 12px
                        transition background-color .1s
                        // animation slidePageRight 1s 2.4s backwards
                        
                    // background-color var(--color-primary)
                .about
                    display none
                    max-width 50ch
                    p
                        padding-block 1em
                    // TODO: Temporary
                    .card .thumbnail
                        padding-top unset
                        h2
                            position relative
                            background none
                            color var(--color-text)
                .other, .bookmarks
                    display none

            #about:target
                & ~ nav 
                    [href="#about"] h1
                        font-weight bold
                & ~ .about
                    display block
                    .card h1
                        position relative
                        padding-left 40px
                        z-index -1
                        font-size 2em
                        &, span
                            display block
                            animation slidePageRight 1s cubic-bezier(0, 1, 0, 1.02)
                        span
                            font-size .8em

            #other:target
                & ~ nav 
                    [href="#other"] h1
                        font-weight bold
                & ~ .other
                    display block

            #bookmarks:target
                & ~ nav 
                    [href="#bookmarks"] h1
                        font-weight bold
                & ~ .bookmarks
                    display block
                    